legend.rating >>> Rating: #{score} <<<

if thumbnail
    a.preview.empty(href=url, target="_blank")
        img(src=thumbnail width="70" height="52" alt="")

.content
    a.link_white(href=url, target="_blank")= title

    .links submitted #{created_utc} by <b>#{author}</b> to
        a.link_pink.no-refresh(href='/?/' + subreddit)= ' /r/' + subreddit

    a.no-refresh(href="#") #{num_comments} comments