legend.rating >>> Rating: #{score} <<<

if thumbnail
    a.preview.empty(href=url)
        img(src=thumbnail width="70" height="52" alt="")

.content
    a.link_white(href=url)= title

    .links submitted #{created_utc} by <b>#{author}</b> to
        a.link_pink(href='/?/' + subreddit)= ' /r/' + subreddit

    a(href="#") #{num_comments} comments